Package: lyx-compiler
Version: 1.0.17H
Section: custom
Priority: optional
Architecture: amd64
License: Lyx Proprietary & Community License (LPCL)
Homepage: https://lyx.seolizer.de
Essential: no
Maintainer: Andreas Röne andreas.roene@seolizer.de
Description: A high-performance, dependency-free systems language. Native FreePascal compiler generating ultra-lean binaries for Linux, Windows, macOS & ESP32 via direct syscalls. Features Energy-Aware Compiling, SIMD, and a unique Pascal-meets-Rust syntax.
